h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}


p{
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

.a1{
  font-family: Helvetica;
  font-size: 14px;
  color: white;
  display: inline;
}

.footer{
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
.bg{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}
